#Assignment 1

1. What is indentation error? Why indentation is important? Give one simple example?

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

3. Use if else condition to verify that dataype of `input()` method in python is always string.

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.


5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    
6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

#Try to understand the following examples and answer the question based on it -
Arithmatic Operators

Operation	Meaning
+	addition
-	subtraction
*	multiplication
/	true division
//	integer division
%	the modulo operator
Here +, -, *, / are regular arithmatic operators. Lets look at the // and % operators

Usecase or examples -

var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/5=5

var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
OUTPUT: integer division: 25/3=8

var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/5 is 0

var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
OUTPUT: remainder: 25/3 is 1

#Answer below questions on the above theory -
Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

#Answer
## Que1

In [ ]:
#indentation error are those error occur due to  improper space provided in conditonal statement. 

#It is neceesary because loops will not work properly in conditonal statement.

#Example
class_started=False
if class_started:
print("lets concentrate") #wrong indentation
else:
  print("rewise")

IndentationError: ignored

##Que2

In [ ]:
class_started = int(input("Hey friend, is class started?: [0-False/1-True]"))
#use int instead of bool because we want input in integer 
if class_started == 1: #need  to give proper condition
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]0
Since class is not started...
let's revise

#Que3

In [ ]:
number = input("Enter number and hit enter ")
print("type of number ", type(number))
#dataype of input() method in python is always string.

Enter number and hit enter 23
type of number  <class 'str'>

#Que4

In [20]:
a=11
b=22
c=33

if a>b :
    if a>c:
       print(int(a) ,"is a larger number")
    else:
      print(int(c), "is larger number")
else:
  if b>c:
    print(int(b),"is a larger number")
  else:
    print(int(c),"is a larger number")

33 is a larger number

#que 5

In [ ]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

#Que 6

##Case1

In [ ]:
A = 5.0
B = 10/2
print(A is B)
# 'is' used to find the memory location

False

##Case2

In [ ]:
A = 5.0
B = int(10/2)
print(A is B)
# 'is' used to find the memory location

False

##case3

In [ ]:
  A = 5.0
  B = float(10/2)
  print(A is B)
  # Even A and B gives integer value it doesnt matter because "is" used to find out memory location

False

#Que 7

In [ ]:
a=int(input("Take a number:"))
if a % 3== 0 or a % 5== 0:
  print("That number is divisible by either 3 or 5")
else:
  print("That number is not divisible by either 3 or 5 ")

Take a number:34
That number is not divisible by either 3 or 5

#Que 8

In [ ]:
length=int(input("length is:"))
breadth=int(input("breadth is:"))
if length==breadth:
  print("It is square")
  print(f"area of square is:{length*breadth}")
else:
  print("It is rectangle")
  print(f"area of rectangle is:{length*breadth}")

length is:34
breadth is:34
It is square
area of square is:1156

#Que9

In [ ]:
radius_1=int(input("radius is:"))
radius_2=int(input("radius is:"))
if 3.14*(radius_1)**2>3.14*(radius_2)**2:
  print(f"area of circle_1 is larger and is equal to {3.14*(radius_1)}")
else:
   print(f"area of circle_2 is larger and is equal to {3.14*(radius_2)}")

radius is:5
radius is:6
area of circle_2 is larger and is equal to 18.84

#Que 10

In [24]:
year = int(input("Enter the year : "))
if (year % 4) == 0:
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("The year is a leap year!")
        else:
            print("The year is a not leap year!")
    else:
        print("The year is a leap year!")
else:
    print("The year is not a leap year!")

Enter the year : 3000
The year is a not leap year!